<h3>Вам было назначено новое дело</h3>
<br>
Название: <b>{{ order.title }}</b> <br>
Описание: <b>{{ order.description }}</b> <br>
<br>
Ссылка на личный кабинет: <a href="{{ url('showcase_homepage') }}">{{ url('showcase_homepage') }}</a>.