<h3>Новое дело по вашей заявке успешно создано</h3>

<p>Здравствуйте, {{ username }}</p>

<p>Вы заказали и оплатили на нашем сайте услугу "{{ service_name }}". <br>
Наши юристы уже начали работу над вашим делом.
</p>

<p>Во вложении к этому письму вы найдете подписанный договор</p>