<h3>Данные для входа в личный кабинет</h3>
<br>
Логин: <b>{{ email }}</b> <br>
Пароль: <b>{{ password }}</b> <br>

Ссылка на личный кабинет: <a href="{{ url('showcase_homepage') }}">{{ url('showcase_homepage') }}</a>.