/* ************ */
/* Общие классы */
/* ************ */

.disabled {
    display: none !important;
}


.no-padding {
    padding: 0;
}

/* **************** */
/* Главная страница */
/* **************** */

.filter-form {
    padding: 0;
}

.filter-form .form-horizontal label {
    text-align: left;
    margin-bottom: 30px;
}

.service-card {
    border: 1px solid rgba(73, 130, 141, 0.54);
    border-radius: 2%;
    padding: 15px 30px;
    margin-bottom: 30px;
    height: 555px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    background-color: rgba(160, 252, 255, 0.2);
}

.service-info h3 {
    height: 78px;
}

.service-info .service-short-description {
    height: 120px;
    overflow: hidden;
    margin-bottom: 20px;
}

.service-card-wrapper:nth-of-type(3n+1) .service-card {
    margin-left: 0;
}

.service-card-wrapper:nth-of-type(3n)  .service-card {
    margin-right: 0;
}

.service-category {
    color: #8c8c8c;
}

.service-price {
    font-size: 27px;
}

.service-order-button {
    font-size: 17px;
}
/* *************** */
/* Описание услуги */
/* *************** */

.service-description {
    padding: 0 0 0 40px;
    text-align: justify;
}

.service-image {
    text-align: center;
}

.service-image img {
    display: inline-block;
}

@media screen and (max-width: 766px) {
    .service-description {
        padding: 0;
        margin-top: 30px;
    }
}

.desc-service-button {
    margin-left: 40px;
}

.desc-service-price {
    height: 46px;
    line-height: 46px;
}

.service-prices table tr td:nth-of-type(2) {
    color: #4b79ff;
}

.service-additional-info table tr td:nth-of-type(2) {
    text-align: right;
    font-weight: 600;
}

.service-additional-info table tr:first-of-type td {
    border: none;
}

.service-additional-info table tr:last-of-type td {
    border-bottom: 1px solid #ddd;
}

.service-additional-info h4 {
    padding-left: 10px;
}

@media screen and (max-width: 766px) {
    .service-prices  {
        margin-top: 50px;
    }
}
.service-additional-info {
    margin-top: 20px;
}

/* ******************* */
/* Форма заказа услуги */
/* ******************* */
.order-form section:first-of-type {
    margin-bottom: 20px;
}

.order-form fieldset {
    border: 1px solid #ddd !important;
    margin: 0;
    padding: 10px;
    position: relative;
    border-radius:4px;
    background-color: rgba(245, 245, 245, 0.84);
}

.order-form legend {
    font-size: 17px;
    margin: 0 0 0 20px;
    width: auto;
    border: none;
}

.form-user-info .form-group {
    margin-bottom: 20px;
}

.order-form .service-modification-lable {
    display: block;
    text-align: left;
}

.order-form .form-service-info fieldset {
    padding: 10px 25px;
}

.order-form .form-service-name {
    font-weight: bold;
}

.form-payment-info {
    margin: 20px 0 0 0;
}

.form-payment-info fieldset {
    padding: 20px 15px;
}

.form-price-font {
    font-weight: bold;
    padding: 0 0 0 15px;
}

.form-price-font span {
    font-size: 28px;
}

.form-pay-button {
    width: 100%;
    height: 60px;
    font-size: 15px;
    font-weight: bold;
}

label[class="error"] .help-block {
    color: #a94442;
}

.form-service-info label[class="error"] {
    padding-left: 0;
}

@media screen and (max-width: 1200px) {
    .form-user-info .form-group {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 990px) {
    .order-form section:last-of-type {
        margin-top: 20px;
    }

    .form-user-info .form-group {
        margin-bottom: 15px;
    }
}
